/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.dropdown-header {
  font-weight: bold;
  color: #495057; /* Darker color for the title */
  padding: 10px 15px; /* Consistent padding */
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* Ẩn dropdown menu mặc định */
.custom-nav-item.custom-dropdown .custom-dropdown-menu {
  display: none;
}

/* Hiển thị menu khi hover vào .custom-nav-item.custom-dropdown */
.custom-nav-item.custom-dropdown:hover .custom-dropdown-menu {
  display: block;
  position: absolute;
}
/* Banner */
.banner{
  background-color: #d7b27a;
}

.banner-btn{
  background-color: #20575d;
}

/* Carousel */
.carousel-name{
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
}
.carousel-description{
  width: inherit;
}
/* Product Item */

.product-detail_info{
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 48px;
  margin-right: 48px;
}

.product-name{
  min-height: 2rem;
  margin-top: 0.5rem;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
}

.product-item_description{
  color:#6c757d;
  font-size: 0.9rem;
}

.sell-price{
  margin-left: 0.1rem;
  margin-right: 0.25rem
}

.list-price {
  font-size: 0.6rem;
}

.sell-price, .list-price{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
}

/* Product Image */

.image-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.image-thumbnail:hover {
  border: 2px solid #dc3545; /* Viền màu xanh khi hover */
}



/* Product Detail */
.product-detail-title{
  font-family: monospace;
  font-weight: bold;
}

.product-detail-sub_title{
  font-family:monospace;
  font-weight: bold;
}

/* Product Review */
.review-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.review-profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.star-rating i {
  color: #FFD700;
}
.review-comment {
  font-size: 0.95rem;
  color: #6c757d;
}

/* Product Payment Form */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 100%;
}
.seller-info, .rating, .price, .quantity, .action-buttons {
  padding: 10px 15px;
}


.seller-info img, .rating img {
  border-radius: 40%;
  width: 50px;
  height: 50px;
  background-color: black;
}
.rating span {
  font-size: 1.2em;
  margin-right: 5px;
}
.quantity input {
  width: 60px;
  text-align: center;
}
.price div {
  font-weight: bold;
  font-size: 1.3em;
  color: #d9534f;
}

/* RegisterForm */


/* admin product add form */
.product-form-border{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;

}

/* Pagination */
ul.pagination > li.active button{
  background-color: #d7b27a;
  border-color: #d7b27a;
  color: #20575d
}


.paging-btn{
  color: white;
  background-color: #20575d;
}

/* Cart List */
th.cart-table-head{
  background-color: #20575d;
  color: white;

}

th.cart-table-head:first-child{
  border-top-left-radius: 5px;
}

th.cart-table-head:last-child{
  border-top-right-radius: 5px;
  padding-right: 2rem;
}

/*  Cart Payment Form*/
/* Overlay Background  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Màu nền mờ */
}

/* Overlay Content */
.overlay-content {
  background: #fff;
  width: 90%;
  border-radius: 15px;
  
  max-width: 400px;
  min-height: 50vh;
  max-height: 85vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.order-review-header{
  background-color: #20575d;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-stage{
  height: 150px;
  background-color:  rgba(63, 182, 196, 0.5); 
  position: relative; /* Giữ vị trí trong luồng bố cục */
  z-index: 1; /* Ưu tiên hiển thị */
  justify-content: center;
}

.circle-number {
  display: flex;
  align-items: center; 
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#20575d ;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto; /* Căn giữa vòng tròn */
  z-index: 1;
  border: 2px solid #d7b27a;
}

.payment-stage{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.circle-number:hover{
  border-color: #20575d;
  background-color:  #d7b27a;
  cursor: pointer;
}

.payment-stages {
  display: flex;
  justify-content: space-between; /* Căn đều khoảng cách giữa các stage */
  align-items: center;
  list-style: none; /* Loại bỏ ký hiệu đầu dòng mặc định */
  position: relative;

}

.payment-stages::before {
  content: "";
  position: absolute;
  top: 45%; /* Căn giữa theo chiều dọc */
  left: 10%;
  right: 10%;
  height: 2px; /* Độ dày của đường */
  background-color: #d7b27a;
  z-index: 0; /* Đặt đường phía sau các vòng tròn */
}

.payment-stages li {
  position: relative;
  flex: 1; /* Chia đều không gian cho các stage */
  text-align: center;
  z-index: 1; /* Đặt vòng tròn nằm trên đường */
}



.payment-stage {
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.payment-stages span {
  display: block;
  margin-top: 10px;
  color: #000;
}


/* Admin - User management */
.admin-content-container{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}